# Node.js specific:
# Ignorer le répertoire des modules Node.js et les fichiers de log de débogage npm/yarn
node_modules/

# Environment variables:
# Ignorer le fichier contenant les variables d'environnement sensibles
.env

# Logs:
# Ignorer les répertoires de logs et les fichiers de log génériques
logs/


# Application-specific files:
# Ignorer le fichier JSON où sont stockés les messages
Streamlogs
Bans

# Optional npm cache directory:
# Ignorer le cache npm (optionnel)
.npm
